In [ ]:
from sqlalchemy.engine import create_engine
engine = create_engine('oracle+cx_oracle://user:passwordr@dbserver:1521/?service_name=pdb1')
import pandas as pd
import matplotlib.pyplot as plt

Krāpniecisko tranzakciju tendences pa gadiem balstoties uz Eiropas centrālās bankas ziņojumiem.

In [ ]:
volume_of_fraud = {
    'Gads': ['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021'],
    'POS': [39, 38, 36, 28, 26, 20, 18, 19, 20, 21, 19, 18, 13, 12],
    'ATM': [14, 10, 11, 12, 11, 9, 7, 5, 3, 3, 2, 2, 1, 1],
    'CNP': [47, 52, 53, 60, 63, 71, 75, 76, 77, 76, 79, 80, 86, 87],
    }
volume_of_fraud_df = pd.DataFrame(data=volume_of_fraud)
ax = volume_of_fraud_df.plot(kind = 'bar', x='Gads', stacked=True)
ax.legend(bbox_to_anchor=(1.0, 1.0))
ax.set_ylabel("Krāpnieciskās transakcijas")
for n, c in enumerate(ax.containers):
    labels = [f'{volume_of_fraud_df.iloc[i,n+1]}' for i, v in enumerate(c)]
    ax.bar_label(c, labels=labels, label_type='center')

fraud_share = {
    'Gads': ['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021'],
    'Krāpniecisko transakciju proporcija %': [0.023, 0.021, 0.018, 0.016, 0.017, 0.020, 0.020, 0.020, 0.023, 0.021, 0.023, 0.024, 0.026, 0.021],
    }
fraud_share_df = pd.DataFrame(data=fraud_share)

ax = fraud_share_df.plot.bar(x='Gads',width=0.9)
ax.margins(x=0.2,y=0.2)
ax.bar_label(ax.containers[0])

In [ ]:
tran_count_df = pd.read_sql_query("""select (select name from ref_data where type = 'MONTH' and code = t.month) as month, t.tran_count as tran_count from
    (select to_char(trunc(tran_datetime,'MONTH'),'MM') as month, count(*) as tran_count from tran_data group by trunc(tran_datetime, 'MONTH')) t order by t.month asc
    """,engine)

In [ ]:
di = {
    'month':'Mēnesis',
    'tran_count':'Transakciju skaits',
     }
ax = tran_count_df.rename(di,axis=1).plot.bar(x='Mēnesis')
ax.bar_label(ax.containers[0], fmt = '%d')
ax.margins(y=0.2)

In [ ]:
fraud_data = {
    'Tips':['POS','ATM'],
    'Krāpnieciskās transakcijas': [1490,227],
    }
fraud_data_df = pd.DataFrame(data=fraud_data)
fraud_data_df.set_index('Tips', inplace = True)
ax = fraud_data_df.plot.bar(width=0.2)
ax.bar_label(ax.containers[0])

In [ ]:
fraud_count_df = pd.read_sql_query("""select (select name from ref_data where type = 'MONTH' and code = af.month) as month, af.tran_count as all_frauds, f.tran_count as frauds from
    (select to_char(trunc(tran_date,'MONTH'),'MM') as month, count(*) as tran_count from all_fraud_data group by trunc(tran_date, 'MONTH')) af,
    (select to_char(trunc(tran_date,'MONTH'),'MM') as month, count(*) as tran_count from fraud_data group by trunc(tran_date, 'MONTH')) f
    where af.month = f.month(+) order by af.month asc
    """,engine)

In [ ]:
di = {
    'month':'Mēnesis',
    'all_frauds':'Visas krāpnieciskās transakcijas',
    'frauds':'Derīgās krāpnieciskās transakcijas',
     }
ax = fraud_count_df.rename(di,axis=1).plot.bar(x='Mēnesis',width=0.8)
ax.margins(y=0.3)
for container in ax.containers:
    ax.bar_label(container)

In [ ]:
tran_ratio_df = pd.read_sql_query("""select (select name from ref_data where type = 'MONTH' and code = t.month) as month, t.tran_count as tran_count, f.tran_count as frauds from
    (select to_char(trunc(tran_datetime,'MONTH'),'MM') as month, count(*) as tran_count from tran_data group by trunc(tran_datetime, 'MONTH')) t,
    (select to_char(trunc(tran_datetime,'MONTH'),'MM') as month, count(*) as tran_count from tran_data where fraud is not null group by trunc(tran_datetime, 'MONTH')) f
    where t.month = f.month(+) order by t.month asc
    """,engine)

In [ ]:
tran_ratio_df['ratio'] = tran_ratio_df['frauds']/tran_ratio_df['tran_count']*100
di = {
    'month':'Mēnesis',
    'tran_count':'Transakciju skaits',
    'frauds':'Krāpniecisko transakciju skaits',
    'ratio':'%'
     }
tran_ratio_df.rename(di,axis=1).style.hide()

Lai varētu labāk saprast, kādus atribūtus izmantot mašīnapmācības algoritmos, jāapskata, kādi atribūti pieejami...

In [ ]:
tran_count_by_day_df = pd.read_sql_query("""select day, tran_count/total_tran_count*100 as trans, fraud_count/total_fraud_count*100 as frauds from (    
select (select name from ref_data where type = 'DAY' and code = t.day) as day, t.tran_count as tran_count, f.tran_count as fraud_count, (select count(*) from tran_data where fraud is null) as total_tran_count, (select count(*) from tran_data where fraud is not null) as total_fraud_count from
    (select to_char(tran_datetime,'D') as day, count(*) as tran_count from tran_data where fraud is null group by to_char(tran_datetime,'D')) t,
    (select to_char(tran_datetime,'D') as day, count(*) as tran_count from tran_data where fraud is not null group by to_char(tran_datetime,'D')) f
    where t.day = f.day(+) order by t.day asc)
    """,engine)

In [ ]:
tran_count_by_day_df

In [ ]:
di = {
    'day':'Diena',
    'trans':'Transakcijas',
    'frauds':'Krāpnieciskās transakcijas',
     }
ax = tran_count_by_day_df.rename(di,axis=1).plot.bar(x='Diena')
ax.margins(y=0.2)

In [ ]:
tran_count_by_hour_df = pd.read_sql_query("""select hour, tran_count/total_tran_count*100 as trans, fraud_count/total_fraud_count*100 as frauds from (
select t.hour, t.tran_count as tran_count, f.tran_count as fraud_count, (select count(*) from tran_data where fraud is null) as total_tran_count, (select count(*) from tran_data where fraud is not null) as total_fraud_count from
    (select to_char(tran_datetime,'HH24') as hour, count(*) as tran_count from tran_data where fraud is null group by to_char(tran_datetime,'HH24')) t,
    (select to_char(tran_datetime,'HH24') as hour, count(*) as tran_count from tran_data where fraud is not null group by to_char(tran_datetime,'HH24')) f
    where t.hour = f.hour(+) order by t.hour asc)
    """,engine)

In [ ]:
di = {
    'hour':'Stunda',
    'trans':'Transakcijas',
    'frauds':'Krāpnieciskās transakcijas',
     }
ax = tran_count_by_hour_df.rename(di,axis=1).plot.bar(x='Stunda')

In [ ]:
tran_codes_df = pd.read_sql_query("""select tran_code, non_frauds, frauds, name from (select tran_code, round(non_frauds/total_tran_count*100) as non_frauds, round(frauds/total_fraud_count*100) as frauds, name from (
    select r.code as tran_code, t.tran_cnt as non_frauds, f.tran_cnt as frauds, r.name, (select count(*) from tran_data where fraud is null) as total_tran_count, (select count(*) from tran_data where fraud is not null) as total_fraud_count from 
        ref_data r,
        (select tran_cde_tc, count(*) as tran_cnt from tran_data where fraud is not null group by tran_cde_tc) f,
        (select tran_cde_tc, count(*) as tran_cnt from tran_data where fraud is null group by tran_cde_tc) t  where r.code = t.tran_cde_tc(+) and r.code = f.tran_cde_tc(+) and r.type = 'TRAN_CDE_TC'
        )) where non_frauds > 0 or frauds > 0
        """, engine)

In [ ]:
tran_codes_df.sort_values(by=['tran_code'])
di = {'tran_code':'Transakcijas kods',
     'non_frauds':'Trancakciju skaits',
     'frauds':'Krāpniecisko transakciju skaits',
     'name':'Transakcijas tips'}
ax = tran_codes_df.rename(di,axis=1).plot.barh(x='Transakcijas tips')
ax.legend(loc='lower right')
ax.set_xlabel("Skaits, %")

In [ ]:
card_type_df = pd.read_sql_query("""select card_type, round(non_frauds/total_tran_count*100) as non_frauds, round(frauds/total_fraud_count*100) as frauds, name from (
    select r.code as card_type, t.tran_cnt as non_frauds, f.tran_cnt as frauds, r.name, (select count(*) from tran_data where fraud is null) as total_tran_count, (select count(*) from tran_data where fraud is not null) as total_fraud_count from 
        ref_data r,
        (select tran_cde_t, count(*) as tran_cnt from tran_data where fraud is not null group by tran_cde_t) f,
        (select tran_cde_t, count(*) as tran_cnt from tran_data where fraud is null group by tran_cde_t) t  
        where r.code = t.tran_cde_t(+) and r.code = f.tran_cde_t(+) and r.type = 'TRAN_CDE_T'
        ) where non_frauds is not null or frauds is not null
        """, engine)

In [ ]:
di = {
     'non_frauds':'Transakciju skaits',
     'frauds':'Krāpniecisko transakciju skaits',
     'name':'Kartes tips'}
ax = card_type_df.rename(di,axis=1).plot.barh(x='Kartes tips')
ax.set_xlabel("Skaits, %")

In [ ]:
cond_codes_df = pd.read_sql_query("""select cond_code, round(non_frauds/total_tran_count*100) as non_frauds, round(frauds/total_fraud_count*100) as frauds, name from (
    select t.pt_srv_cond_cde as cond_code, t.tran_cnt as non_frauds, f.tran_cnt as frauds, (select count(*) from tran_data where fraud is null) as total_tran_count, (select count(*) from tran_data where fraud is not null) as total_fraud_count, r.name from 
        ref_data r,
        (select pt_srv_cond_cde, count(*) as tran_cnt from tran_data where fraud is not null group by pt_srv_cond_cde) f,
        (select pt_srv_cond_cde, count(*) as tran_cnt from tran_data where fraud is null group by pt_srv_cond_cde) t  
    where t.pt_srv_cond_cde = f.pt_srv_cond_cde and t.pt_srv_cond_cde = r.code and r.type = 'PT_SRV_COND_CDE')
        """, engine)

In [ ]:
cond_codes_df.sort_values(by=['cond_code'])
di = {'cond_code':'Stāvokļa kods',
     'non_frauds':'Transakciju skaits',
     'frauds':'Krāpniecisko transakciju skaits',
     'name':'Stāvoklis'}
ax = cond_codes_df.rename(di,axis=1).plot.barh(x='Stāvoklis')
ax.set_xlabel("Skaits, %")

In [ ]:
entry_modes_df = pd.read_sql_query("""select entry_mode, round(non_frauds/total_tran_count*100) as non_frauds, round(frauds/total_fraud_count*100) as frauds, name from (
    select r.code as entry_mode, t.tran_cnt as non_frauds, f.tran_cnt as frauds, r.name, (select count(*) from tran_data where fraud is null) as total_tran_count, (select count(*) from tran_data where fraud is not null) as total_fraud_count from 
        ref_data r,
        (select substr(pt_srv_entry_mde,0,2) as pt_srv_entry_mde, count(*) as tran_cnt from tran_data where fraud is not null group by substr(pt_srv_entry_mde,0,2)) f,
        (select substr(pt_srv_entry_mde,0,2) as pt_srv_entry_mde, count(*) as tran_cnt from tran_data where fraud is null group by substr(pt_srv_entry_mde,0,2)) t  where t.pt_srv_entry_mde = r.code and f.pt_srv_entry_mde = r.code and r.type = 'PT_SRV_ENTRY_MDE')
        where non_frauds is not null or frauds is not null order by entry_mode asc
        """, engine)

In [ ]:
entry_modes_df.sort_values(by=['entry_mode'])
di = {'entry_mode':'PAN ievades metode',
     'non_frauds':'Transakciju skaits',
     'frauds':'Krāpniecisko transakciju skaits',
     'name':'Metode'}
ax = entry_modes_df.rename(di,axis=1).plot.barh(x='Metode')
ax.set_xlabel("Skaits, %")

In [ ]:
tran_rec_type_df = pd.read_sql_query("""select rec_type, non_frauds, frauds, name from (
    select r.code as rec_type, t.tran_cnt as non_frauds, f.tran_cnt as frauds, r.name from 
        ref_data r,
        (select tran_rec_type, count(*) as tran_cnt from tran_data where fraud is not null group by tran_rec_type) f,
        (select tran_rec_type, count(*) as tran_cnt from tran_data where fraud is null group by tran_rec_type) t  where r.code = t.tran_rec_type(+) and r.code = f.tran_rec_type(+) and r.type = 'TRAN_REC_TYPE'
        ) where non_frauds is not null or frauds is not null
        """, engine)

In [ ]:
tran_rec_type_df['non_frauds'] = tran_rec_type_df['non_frauds'].fillna(0).astype(int)
tran_rec_type_df['frauds'] = tran_rec_type_df['frauds'].fillna(0).astype(int)
di = {'rec_type':'Ieraksta kods',
     'non_frauds':'Transakciju skaits',
     'frauds':'Krāpniecisko transakciju skaits',
     'name':'Ieraksta tips'}
tran_rec_type_df.rename(di,axis=1).sort_values(by=['Ieraksta kods']).style.hide()

In [ ]:
entry_capability_df = pd.read_sql_query("""select entry_capability, round(non_frauds/total_tran_count*100) as non_frauds, round(frauds/total_fraud_count*100) as frauds, name from (
    select r.code as entry_capability, t.tran_cnt as non_frauds, f.tran_cnt as frauds, r.name, (select count(*) from tran_data where fraud is null) as total_tran_count, (select count(*) from tran_data where fraud is not null) as total_fraud_count from 
        ref_data r,
        (select substr(pt_srv_entry_mde,3,1) as pt_srv_entry_mde, count(*) as tran_cnt from tran_data where fraud is not null group by substr(pt_srv_entry_mde,3,1)) f,
        (select substr(pt_srv_entry_mde,3,1) as pt_srv_entry_mde, count(*) as tran_cnt from tran_data where fraud is null group by substr(pt_srv_entry_mde,3,1)) t 
        where t.pt_srv_entry_mde = r.code and f.pt_srv_entry_mde = r.code and r.type = 'PT_SRV_ENTRY_CAP')
        where non_frauds is not null or frauds is not null order by entry_capability asc
        """, engine)

In [ ]:
entry_capability_df.sort_values(by=['entry_capability'])
di = {'entry_capability':'PIN ievades iespēja',
     'non_frauds':'Transakciju skaits',
     'frauds':'Krāpniecisko transakciju skaits',
     'name':'Metode'}
ax = entry_capability_df.rename(di,axis=1).plot.barh(x='Metode')
ax.set_xlabel("Skaits, %")

In [ ]:
select round(tran_count/total_tran_count*100) as tran_count, round(fraud_count/total_fraud_count*100) as fraud_count from
(select 
(select count(*) as tran_count from tran_data where substr(pt_srv_entry_mde,3,1) in ('0','2') and substr(pt_srv_entry_mde,0,2) in ('01','02') and fraud is null) as tran_count,
(select count(*) as tran_count from tran_data where substr(pt_srv_entry_mde,3,1) in ('0','2') and substr(pt_srv_entry_mde,0,2) in ('01','02') and fraud is not null) as fraud_count,
(select count(*) from tran_data where fraud is null) as total_tran_count,
(select count(*) from tran_data where fraud is not null) as total_fraud_count
from dual);

In [ ]:
response_code_df = pd.read_sql_query("""select decode(PREVIOUS_TRAN_DECLINED,1,'Atteikta','Apstiprināta') as description,count(*) as value from (
select PREVIOUS_TRAN_DECLINED from transaction_vw where fraud = 1 and tran_declined = 0)
group by PREVIOUS_TRAN_DECLINED
        """, engine)

In [ ]:
di = {'description':'Iepriekšējā transakcija',
     'value':'Krāpniecisko transakciju skaits'
     }
response_code_df = response_code_df.rename(di, axis=1).sort_values(by=['Krāpniecisko transakciju skaits'])
plt.figure(figsize=(6, 3)) 
ax = response_code_df.plot.barh(x='Iepriekšējā transakcija', width=0.2, ax=plt.gca())
ax.margins(x=0.1)
ax.set_xlabel("Skaits")
for index, value in enumerate(response_code_df['Krāpniecisko transakciju skaits']):
    plt.text(value, index, str(value))
plt.tight_layout()
plt.show()

In [ ]:
mcc_df = pd.read_sql_query("""select name, round(non_frauds/total_tran_count*100) as non_frauds, round(frauds/total_fraud_count*100) as frauds from (
    select t.RETL_SIC_CDE as mcc, t.tran_cnt as non_frauds, f.tran_cnt as frauds, (select count(*) from tran_data where fraud is null) as total_tran_count, (select count(*) from tran_data where fraud is not null) as total_fraud_count, r.name from 
        ref_data r,
        (select RETL_SIC_CDE, count(*) as tran_cnt from tran_data where fraud is not null group by RETL_SIC_CDE) f,
        (select RETL_SIC_CDE, count(*) as tran_cnt from tran_data where fraud is null group by RETL_SIC_CDE) t  
    where t.RETL_SIC_CDE = f.RETL_SIC_CDE and t.RETL_SIC_CDE = r.code and r.type = 'RETL_SIC_CDE')
    where round(non_frauds/total_tran_count*100) > 0.5 and round(frauds/total_fraud_count*100) > 0.5
        """, engine)

In [ ]:
mcc_df

In [ ]:
di = {
    'non_frauds':'Transakciju skaits',
    'frauds':'Krāpniecisko transakciju skaits',
    'name':'Tirgotāja kategorija'
}
ax = mcc_df.rename(di, axis=1).plot.barh(x='Tirgotāja kategorija')
ax.set_xlabel("Skaits, %")

In [ ]:
countries_df = pd.read_sql_query("""select country_code,non_frauds,frauds from 
(select country_code, round(non_frauds/total_tran_count*100) as non_frauds, round(frauds/total_fraud_count*100) as frauds from (
    select t.TERM_CNTRY_CDE as country_code, t.tran_cnt as non_frauds, f.tran_cnt as frauds, (select count(*) from tran_data where fraud is null) as total_tran_count, (select count(*) from tran_data where fraud is not null) as total_fraud_count from 
        (select TERM_CNTRY_CDE as TERM_CNTRY_CDE, count(*) as tran_cnt from tran_data where fraud is not null group by TERM_CNTRY_CDE) f,
        (select TERM_CNTRY_CDE as TERM_CNTRY_CDE, count(*) as tran_cnt from tran_data where fraud is null group by TERM_CNTRY_CDE) t
        where t.TERM_CNTRY_CDE = f.TERM_CNTRY_CDE order by t.TERM_CNTRY_CDE asc))
        where non_frauds > 0 or frauds > 0
""", engine)

In [ ]:
di = {
    'non_frauds':'Transakciju skaits',
    'frauds':'Krāpniecisko transakciju skaits',
    'country_code':'Valsts kods'
}
ax = countries_df.rename(di,axis=1).plot.bar(x='Valsts kods')
ax.set_ylabel("Skaits, %")

In [ ]:
previous_country_df = pd.read_sql_query("""with countries as (select PREVIOUS_COUNTRY, country from
(select lag(TERM_CNTRY_CDE) OVER(PARTITION BY crd_card_crd_num ORDER BY tran_datetime) as PREVIOUS_COUNTRY,
        TERM_CNTRY_CDE as country
        from tran_data where fraud is not null)
        where previous_country is not null)
select round(same_country_frauds/total_fraud_count*100) as same_country_frauds, round(different_country_frauds/total_fraud_count*100) as different_country_frauds from
        (select (select count(*) from countries where previous_country = country) as same_country_frauds, 
        (select count(*) from countries where previous_country <> country) as different_country_frauds, 
        (select count(*) from tran_data where fraud is not null) as total_fraud_count 
    from dual)
""", engine)

In [ ]:
di = {'same_country_frauds':'Iepriekšējā transakcija tajā pašā valstī',
     'different_country_frauds':'Iepriekšējā transakcija citā valstī'
     }
previous_country_df.rename(di,axis=1).plot.barh()

In [ ]:
fraud_amounts_df = pd.read_sql_query("""select tran_datetime, abs(amount) as amount from tran_data where fraud is not null
        """, engine)

In [ ]:
cols = {
    'tran_datetime':'Transakcijas laiks',
    'amount':'Transakcijas summa'
}
fraud_amounts_df.rename(columns = cols).plot.scatter(x='Transakcijas laiks',y='Transakcijas summa')

In [ ]:
amounts_by_week_df = pd.read_sql_query("""select to_char(t.week,'WW') as week, round(t.avg_amount,2) as avg_tran_amount, round(f.avg_amount,2) as avg_fraud_amount from
    (select trunc(tran_datetime,'WW') as week, avg(amount) as avg_amount from tran_data where fraud is null group by trunc(tran_datetime,'WW')) t,
    (select trunc(tran_datetime,'WW') as week, avg(amount) as avg_amount from tran_data where fraud is not null group by trunc(tran_datetime,'WW')) f
    where t.week = f.week(+) order by t.week asc
    """,engine)

In [ ]:
di = {
    'week':'Nedēļa',
    'avg_tran_amount':'Vidējā transakcijas summa',
    'avg_fraud_amount':'Vidējā krāpnieciskās transakcijas summa',
     }
ax = amounts_by_week_df.rename(di,axis=1).plot.bar(x='Nedēļa')
ax.margins(y=0.2)

In [ ]:
pin_ind_df = pd.read_sql_query("""select pin_ind, round(tran_count/total_tran_count*100) as trans, round(fraud_count/total_fraud_count*100) as frauds from (
select t.pin_ind as pin_ind, t.count as tran_count, f.count as fraud_count, (select count(*) from tran_data where fraud is null) as total_tran_count, (select count(*) from tran_data where fraud is not null) as total_fraud_count from
(select pin_ind, count(*) as count from tran_data where fraud is null group by pin_ind) t,
(select pin_ind, count(*) as count from tran_data where fraud is not null group by pin_ind) f
where t.pin_ind = f.pin_ind(+) order by t.pin_ind asc)
""",engine)

In [ ]:
di = {
    'pin_ind':'PIN indikators',
    'trans':'Transakcijas',
    'frauds':'Krāpnieciskās transakcijas',
     }
ax = pin_ind_df.rename(di,axis=1).plot.barh(x='PIN indikators')
ax.margins(x=0.1)
for container in ax.containers:
    ax.bar_label(container, fmt='%d%%')

In [ ]:
card_frauds_df = pd.read_sql_query("""with card_list as (select crd_card_crd_num as pan from tran_data where fraud is not null group by crd_card_crd_num)
select tc.pan, tc.tran_count as tran_count, fc.tran_count as fraud_count from 
(select t.crd_card_crd_num as pan, count(*) as tran_count from tran_data t, card_list c where fraud is null and t.crd_card_crd_num = c.pan group by crd_card_crd_num) tc,
(select t.crd_card_crd_num as pan, count(*) as tran_count from tran_data t, card_list c where fraud is not null and t.crd_card_crd_num = c.pan group by crd_card_crd_num) fc
where tc.pan = fc.pan order by tc.tran_count desc, fc.tran_count desc""", engine)

In [ ]:
di = {
    'pan':'Karte',
    'tran_count':'Transakcijas',
    'fraud_count':'Krāpnieciskās transakcijas',
     }
ax = card_frauds_df.rename(di, axis=1).plot()
ax.set_ylabel("Transakciju skaits")
ax.set_xlabel("Maksājumu kartes")
ax.set_xticklabels([])

In [ ]:
mc_iss_df = pd.read_sql_query("""select tran_date, amount_num from mc_iss
        """, engine)
mc_iss_df.plot.scatter(x='tran_date',y='amount_num')

In [ ]:
mc_acq_df = pd.read_sql_query("""select tran_date, amount_num from mc_acq
        """, engine)
mc_acq_df.plot.scatter(x='tran_date',y='amount_num')

In [ ]:
visa_iss_df = pd.read_sql_query("""select tran_date, amount_num from visa_iss
        """, engine)
visa_iss_df.plot.scatter(x='tran_date',y='amount_num')

In [ ]:
visa_acq_df = pd.read_sql_query("""select tran_date, amount_num from visa_acq
        """, engine)
visa_acq_df.plot.scatter(x='tran_date',y='amount_num')

Summas starpība starp iepriekšējo transakciju
select decode(previous_amount,null,100,amount_diff) as amount_diff, previous_amount, amount from (
    select
        decode(amount,0,100,abs(lag(amount) OVER(PARTITION BY crd_card_crd_num ORDER BY tran_datetime)-amount)/amount*100) as amount_diff,
--        lag(resp_cde) OVER(PARTITION BY crd_card_crd_num ORDER BY tran_datetime) as previous_response,
--        resp_cde,
        lag(amount) OVER(PARTITION BY crd_card_crd_num ORDER BY tran_datetime) as previous_amount,
        amount
    from tran_data where fraud is not null ) ;

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt

np.random.seed(42)

data = pd.DataFrame({
    'true_label': np.random.randint(0, 2, 100)  # Binary labels
})

data['score_model1'] = np.where(data['true_label'] == 1, 
                                np.random.uniform(0.49, 0.6, size=len(data)), 
                                np.random.uniform(0.4, 0.59, size=len(data)))
data['score_model2'] = np.where(data['true_label'] == 1, 
                                np.random.uniform(0.45, 0.55, size=len(data)), 
                                np.random.uniform(0.45, 0.54, size=len(data)))

fpr1, tpr1, thresholds1 = roc_curve(data['true_label'], data['score_model1'])
fpr2, tpr2, thresholds2 = roc_curve(data['true_label'], data['score_model2'])

roc_auc1 = auc(fpr1, tpr1)
roc_auc2 = auc(fpr2, tpr2)

plt.figure(figsize=(8, 6))
lw = 2
plt.plot(fpr1, tpr1, color='darkorange', lw=lw, label='Klasifikators A (AUC = %0.2f)' % roc_auc1)
plt.plot(fpr2, tpr2, color='blue', lw=lw, label='Klasifikators B (AUC = %0.2f)' % roc_auc2)
plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('Kļūdainas Atbilsmes Koeficients')
plt.ylabel('Patiesas Atbilsmes Koeficients')
plt.title('ROC līkņu salīdzinājums')
plt.legend(loc="lower right")
plt.show()